@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

:root {
  --yellow: #CBFF4D;
  --lightgreen: #84DD63;
  --shamrock: #6BAA75;
  --red: darkred;
  --nickel: #69747C;
  --darkgray: #545454;
  --noto: 'Noto Sans', sans-serif;
  --courier: 'Courier New', Courier, monospace;
}

.gameBody {
  max-width: 350px;
  color: var(--nickel);
}

body {
  background-color: white;
  text-align: center;
  font-family: var(--courier);
  display: flex;
  justify-content: center;
}

h1, h3 {
  color: black;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid black;
  font-family: var(--courier);
  font-size: 16px;
  width: 200px;
}

button {
  border: 1px solid white;
  border-radius: 10px;
  background-color: var(--yellow);
  text-align: center;
  font-family: var(--courier);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 220px;
  height: 50px;
}

input:focus, button:focus{
    outline: none;
}

.roundAndLives {
  color: var(--lightgreen);
}

.gameSection {
  margin-bottom: 35px;
}

.playerList {
  display: flex;
  justify-content: center;
}

.playerListName {
  font-weight: bold;
  margin-right: 20px;
}

.cardNumber {
  font-size: 35px;
  font-weight: bold;
  color: var(--shamrock);
}

.wrongColor {
  color: var(--red);
}

h3 {
  margin-bottom: 10px;
}